<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>

  <form
    (ngSubmit)="onSubmitForAufhebungsbescheide(aufhebungsbescheideDTO)"
    [formGroup]="aufhebungsbescheideGroup"
  >
    <mat-card class="dashboard-card">
      <mat-card-header>
        <div mat-card-avatar class="contact-avatar">
          <mat-icon aria-hidden="false" fontIcon="contact_mail"></mat-icon>
        </div>
        <mat-card-title
          >Absender
          {{ aufhebungsbescheideDTO.personalisierungAnwender.absenderVorname }}
          {{
            aufhebungsbescheideDTO.personalisierungAnwender.absenderZusatzwort
          }}
          {{
            aufhebungsbescheideDTO.personalisierungAnwender.absenderNachname
          }}</mat-card-title
        >
        <mat-card-subtitle
          >Dienststellennummer:
          {{
            aufhebungsbescheideDTO.personalisierungAnwender.dstNummer
          }}</mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content>
        <p>
          Signatur:
          {{ aufhebungsbescheideDTO.personalisierungAnwender.signatur }}
        </p>
      </mat-card-content>
    </mat-card>
    <br />
    <button
      type="button"
      mat-fab
      color="warn"
      (click)="datenquelleInput.click()"
    >
      <mat-icon>attach_file</mat-icon>
    </button>
    <input
      #datenquelleInput
      hidden
      type="file"
      id="datenquelleFile"
      (change)="onDatenquelleSelected($event)"
    />

    <h2 class="mat-h2">
      {{ aufhebungsbescheideTitle() }}
    </h2>

    <mat-card
      *ngFor="
        let aufhebungsbescheidDTO of aufhebungsbescheideDTO.aufhebungsbescheide
      "
      class="dashboard-card"
    >
      <mat-card-header>
        <div mat-card-avatar class="contact-avatar">
          <mat-icon aria-hidden="false" fontIcon="perm_identity"></mat-icon>
        </div>
        <mat-card-title>
          {{ aufhebungsbescheidDTO.empfaengerDTO.personKundennummer }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ aufhebungsbescheidDTO.empfaengerDTO.personAnrede }}
          {{ aufhebungsbescheidDTO.empfaengerDTO.personVorname }}
          {{ aufhebungsbescheidDTO.empfaengerDTO.personZusatzwort }}
          {{ aufhebungsbescheidDTO.empfaengerDTO.personNachname }} ({{
            aufhebungsbescheidDTO.empfaengerDTO.personGeschlecht
          }})
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>
          Anschrift:
          {{ aufhebungsbescheidDTO.empfaengerDTO.personPostadresseStrasse }},
          {{ aufhebungsbescheidDTO.empfaengerDTO.personPostadressePLZ }}
          {{ aufhebungsbescheidDTO.empfaengerDTO.personPostadresseOrt }} ({{
            aufhebungsbescheidDTO.empfaengerDTO.personAdresszusatz
          }}, {{ aufhebungsbescheidDTO.empfaengerDTO.personLand }})
        </p>

        <div
          *ngFor="
            let fachdatensatz of aufhebungsbescheidDTO.fachdatenDTOList;
            let i = index
          "
        >
          <h3>Fachdatensatz #{{ i + 1 }}</h3>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Beginn Erstattungszeitraum</mat-label>
              <input
                required
                matInput
                [formControlName]="
                  getFormControlNameByKundennummerAndFachdatenIndex(
                    aufhebungsbescheidDTO.empfaengerDTO.personKundennummer!,
                    i,
                    'beginnErstattungszeitraum'
                  )
                "
                [matDatepicker]="beginnPicker"
                placeHolder="01.01.2021"
              />
              <mat-hint>Format: TT.MM.JJJJ</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="beginnPicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #beginnPicker></mat-datepicker>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Ende Erstattungszeitraum</mat-label>
              <input
                required
                matInput
                [formControlName]="
                  getFormControlNameByKundennummerAndFachdatenIndex(
                    aufhebungsbescheidDTO.empfaengerDTO.personKundennummer!,
                    i,
                    'endeErstattstungszeitraum'
                  )
                "
                [matDatepicker]="endePicker"
                placeHolder="31.01.2021"
              />
              <mat-hint>Format: TT.MM.JJJJ</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="endePicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #endePicker></mat-datepicker>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Leistungsart</mat-label>
              <input
                required
                matInput
                [formControlName]="
                  getFormControlNameByKundennummerAndFachdatenIndex(
                    aufhebungsbescheidDTO.empfaengerDTO.personKundennummer!,
                    i,
                    'leistungsart'
                  )
                "
                placeholder="Arbeitslosengeld 1"
              />
              <mat-icon matSuffix>gavel</mat-icon>
              <mat-hint>Freitext</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Begründung Aufhebung</mat-label>
              <textarea
                required
                matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="5"
                cdkAutosizeMaxRows="10"
                [formControlName]="
                  getFormControlNameByKundennummerAndFachdatenIndex(
                    aufhebungsbescheidDTO.empfaengerDTO.personKundennummer!,
                    i,
                    'begründungAufhebung'
                  )
                "
                placeholder="Wegfall der Verfügbarkeit"
              ></textarea>
              <mat-icon matSuffix>gavel</mat-icon>
              <mat-hint>Freitext</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Vertragsgegenstandsnummer</mat-label>
              <input
                required
                matInput
                [formControlName]="
                  getFormControlNameByKundennummerAndFachdatenIndex(
                    aufhebungsbescheidDTO.empfaengerDTO.personKundennummer!,
                    i,
                    'vertragsgegenstandsnummer'
                  )
                "
                placeholder="9001K123456789"
              />
              <mat-icon matSuffix>insert_drive_file</mat-icon>
              <mat-hint>Freitext</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Leistungssatz</mat-label>
              <input
                required
                matInput
                type="number"
                [formControlName]="
                  getFormControlNameByKundennummerAndFachdatenIndex(
                    aufhebungsbescheidDTO.empfaengerDTO.personKundennummer!,
                    i,
                    'leistungssatz'
                  )
                "
                placeholder="1500"
              />
              <mat-icon matSuffix>euro_symbol</mat-icon>
              <mat-hint>Geldbetrag</mat-hint>
            </mat-form-field>
          </p>
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button
          mat-raised-button
          (click)="onFachdatensatzAdded(aufhebungsbescheidDTO)"
        >
          Weiteren Fachdatensatz hinzufügen
        </button>
      </mat-card-actions>
    </mat-card>

    <br />
    <button
      mat-raised-button
      type="submit"
      (click)="onSubmitForAufhebungsbescheide(aufhebungsbescheideDTO)"
      [disabled]="
        aufhebungsbescheideGroup.untouched && !aufhebungsbescheideGroup.valid
      "
    >
      Dokumente erzeugen
    </button>

    <br />
    <div *ngIf="hasErgebnisse()">
      <h2 class="mat-h2">
        {{ ergebnisseTitle() }}
      </h2>
      <rvp-ergebnisse [ergebnisse]="ergebnisDTO.ergebnisse"></rvp-ergebnisse>
    </div>
  </form>
</div>
